:root {
  --gameboard-size: 500px;
  --square-size: calc(var(--gameboard-size) / 10);
  --main-color: #bdc1df;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

h1 {
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.gameboard {
  width: var(--gameboard-size);
  height: var(--gameboard-size);
  outline: solid 1px black;

  position: relative;
}

.grid {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  border: solid 1px black;
}

.ships {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.ship {
  position: absolute;
  background-color: var(--main-color);
  outline: solid 1px black;

  display: grid;

  touch-action: none;
  user-select: none;
}

.harbor {
  width: calc(var(--square-size) * 3);
  height: var(--gameboard-size);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);

  position: relative;
}

.moveable {
  cursor: move;
}

.moving {
  z-index: 100;
}
